section {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 128px;
    width: 100%;
    //margin: 64px;

    span {
        margin-top: 8px;
        margin-bottom: 8px;
    }
}