.end {
    background-color: rgb(28, 28, 28);
    display: grid;
    grid-template-columns: 200px 1fr 200px;
    grid-template-rows: 1fr;
    grid-template: "left center right" 1fr;
    padding-bottom: 32px;
}

.left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    grid-area: left;
    padding-left: 0%;
    width: 150px;


    .description {
        display: flex;
        flex-direction: column;
        font-family: Karla;
        cursor: default;

        span {
            color: white;
            padding-left: 24px;
            padding-top: -16px;
        }
    }
}

.copyright {
    cursor: default;
}

.right {
    grid-area: right;
    display: flex;
    justify-content: flex-end;
    padding-right: 0%;
}

.logo-container {

    .logo {
        padding-right: 96px;
        display: flex;
        margin-top: -16px;


        img {
            width: auto;
            height: 80px;
        }

        .logo-name {
            display: flex;
            flex-direction: column;
            margin-top: 24px;
            margin-left: -26px;
        }

        span {
            color: white;
        }
    }
}


.center {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Fira Code;
    font-size: 18px;
    color: #3DCFB6;
    grid-area: center;
    flex-wrap: wrap;
    width: 100%;
}

.links {
    display: flex;
    flex-direction: column;
    width: 128px;

    a {
        color: white;
        text-align: end;
        width: 128px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        transition: color 0.3s ease;
        background-color: transparent;
        cursor: pointer;
        padding-bottom: 8px;

        span {
            font-family: Karla;
            font-size: 16px;
            padding-left: 4px;
            color: white;
            transition: color 0.3s ease;
        }

        svg {
            color: transparent;
        }

        &:hover {
            background-color: transparent;
            color: #3DCFB6;

            svg {
                color: #3DCFB6;
            }

            span {
                color: #3DCFB6;
            }
        }
    }

    .mdc-button {
        justify-content: flex-start !important;
    }
}

@media only screen and (max-width: 1450px) {
    .end {
        display: grid;
        grid-template: "left right" auto
            "bottom bottom" auto;

        .left {
            grid-area: left;
        }

        .right {
            grid-area: right;
            display: flex;
            justify-content: flex-end;
            align-items: center;
        }

        .center {
            grid-area: bottom;
            //height: 64px;
        }
    }
}

@media only screen and (max-width: 646px) {
    .copyright {
        font-size: 16px;
    }
}

@media only screen and (min-width: 2000px) {
    .footer {
        max-width: 1800px; // Maximale Breite des Containers
        margin: 0 auto; // Zentrieren
        padding: 0 100px; // Seitlicher Abstand
    }
}