<div class="end">
    <div class="left">
        <div class="logo">
            <img src="assets/img/logo.png" alt="">
            <div class="logo-name">
                <span>artin</span>
                <span>eifschneider</span>
            </div>
        </div>
        <div class="description">
            <span>Web Developer</span>
            <span>Frankfurt Germany</span>
        </div>
    </div>
    <div class="center">
        <div class="copyright">
            © Martin Reifschneider 2025
        </div>
    </div>
    <div class="right">
        <div class="links">
            <button mat-button>Github</button>
            <button mat-button>Linkedin</button>
            <button mat-button>Email</button>
            <button mat-button>Legal Notice</button>

        </div>
    </div>
</div>