<div class="end">
    <div class="left">
        <div class="logo-container">
            <div (click)="services.scrollTo('start')" class="logo set-pointer">
                <img src="assets/img/logo.png" alt="">
                <div class="logo-name">
                    <span>artin</span>
                    <span>eifschneider</span>
                </div>
            </div>
            <div class="description">
                <span>
                    {{services.language == "en" ? 'Web Developer' : 'Webentwickler'}}
                </span>
                <span>
                    {{services.language == "en" ? 'Frankfurt Germany' : 'Frankfurt Deutschland'}}
                </span>
            </div>
        </div>
    </div>
    <div class="center">
        <div class="copyright">
            © Martin Reifschneider 2025
        </div>
    </div>
    <div class="right">
        <div class="links">
            <button (click)="services.openGitHub()" mat-button>Github</button>
            <button (click)="services.openLinkedin()" mat-button>Linkedin</button>
            <button (click)="services.scrollAndHighlight()" mat-button>Email</button>
            <button (click)="openCard()" mat-button>
                 {{services.language == "en" ? 'Legal Notice' : 'Rechtshinweis'}}
            </button>

        </div>
    </div>
</div>
<app-legal-notice *ngIf="services.showLegalNoticeCard" (close)="closeCard()"></app-legal-notice>