section:first-child section {
    border-top: 1px solid rgba(61, 207, 182, 1);

}

section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 680px;
    height: 64px;
    border-bottom: 1px solid rgba(61, 207, 182, 1);


    div {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        height: 64px;
        width: 400px;
    }

    h3 {
        font-family: Fira Code;
        color: white;
        font-size: 24px;
        width: 400px;
        padding-top: 16px;
    }

    span {
        font-family: Karla;
        color: white;
        width: fit-content;
        height: 24px;
        padding: 0 16px 0 16px;
        display: flex;
        justify-content: flex-end;
        text-align: center;
        border-right: 1px solid rgba(61, 207, 182, 1);

        &:last-child {
            border-right: none; // ✅ letzter bekommt keinen Border
        }
    }

    &:hover {
        background-color: #3ecfb6;
    }
}