<!-- creator.component.html - SINGLE PAGE TEMPLATE -->
<div class="creator-page">
  <app-header></app-header>
  
  <main class="content">
    <div class="container">
      <div class="headline">
        <h1 *ngIf="services.isGerman">Impressum</h1>
        <h1 *ngIf="!services.isGerman">Imprint</h1>
      </div>
      
      <!-- Sprachbasierte Anzeige der Impressum-Komponenten -->
      <app-impressum *ngIf="services.isGerman"></app-impressum>
      <app-imprint *ngIf="!services.isGerman"></app-imprint>
    </div>
  </main>
  <app-footer></app-footer>
</div>