<div class="contact">
    <div class="headline">
        <h3>Contact me</h3>
        <h1>Let's work</h1>
        <h1>together</h1>
        <h2>Got a problem to solve?</h2>
        <span>Encourage people to contact you and describe what role you are interested in. Show that you will add value to their projects through your work. </span>
    </div>
    <div class="contact-form">
        <form class="contact-form">
            <div class="form-group">
              <label>What's your name?</label>
              <input type="text" placeholder="Your name goes here" />
            </div>
          
            <div class="form-group">
              <label>What's your email?</label>
              <input type="email" placeholder="youremail@email.com" />
            </div>
          
            <div class="form-group">
              <label>How can I help you?</label>
              <textarea placeholder="Hello Lukas, I am interested in…"></textarea>
            </div>
          
            <div class="form-group checkbox-group">
              <label>
                <input type="checkbox" />
                I've read the <a href="#">privacy policy</a> and agree to the processing of my data as outlined.
              </label>
            </div>
          
            <button type="submit" class="submit-btn">Say Hello ;)</button>
          </form>
          
    </div>
</div>