<div class="skills">
    <div class="skills-description">
        <h3>Technologies</h3>
        <div></div>
    </div>
    <div class="skills-box">
        <div><img src="assets/img/html.png" alt=""><span>HTML</span></div>
        <div><img src="assets/img/css.png" alt=""><span>CSS</span></div>
        <div><img src="assets/img/javascript.png" alt=""><span>JavaScript</span></div>
        <div><img src="assets/img/material-design.png" alt=""><span>Material Design</span></div>
        <div><img src="" alt=""><span></span></div>
        <div><img src="" alt=""><span></span></div>
        <div><img src="" alt=""><span></span></div>
        <div><img src="" alt=""><span></span></div>
        <div><img src="" alt=""><span></span></div>
        <div><img src="" alt=""><span></span></div>
        <div><img src="" alt=""><span></span></div>
    </div>
</div>