<div id="skills" class="skills">
    <div class="skills-description">
        <h3>Technologies</h3>
        <div>
            <h1>Skill Set</h1>
            <span>A short introduction of your skills. Highlight your experience of  using different front-end technologies and emphasise your openness to learning and adapting to new technologies. Show how important it is for you to keep up with the rapid changes in web development.</span>
            <h3>You need <span>another skill?</span></h3>
            <span>Feel free to contact me. I look forward to expanding on my previous knowledge.</span>
            <button mat-stroked-button>Let's Talk</button>
        </div>
    </div>
    <div class="skills-box">
        <div><img src="assets/img/html.png" alt=""><span>HTML</span></div>
        <div><img src="assets/img/css.png" alt=""><span>CSS</span></div>
        <div><img src="assets/img/javascript.png" alt=""><span>JavaScript</span></div>
        <div><img src="assets/img/material-design.png" alt=""><span>Material Design</span></div>
        <div><img src="assets/img/typescript.png" alt=""><span>TypeScript</span></div>
        <div><img src="assets/img/angular.png" alt=""><span>Angular</span></div>
        <div><img src="assets/img/firebase.png" alt=""><span>Firebase</span></div>
        <div><img src="assets/img/git.png" alt=""><span>GIT</span></div>
        <div><img src="assets/img/rest-api.png" alt=""><span>Rest-Api</span></div>
        <div><img src="assets/img/scrum.png" alt=""><span>Scrum</span></div>
        <div><img src="assets/img/growth.png" alt=""><span>Growth mindset</span></div>
    </div>
</div>