.skills {
    width: 100vw;
    height: 695px;
    top: 1896px;
    background: radial-gradient(22.43% 43.85% at 1.22% 52.45%, rgba(8, 70, 59, 0.85) 0%, #1C1C1C 100%);
    /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */

    /*background: linear-gradient(55.22deg, #1C1C1C 36.26%, #08463B 93.28%);*/
    display: flex;
    justify-content: center;
    gap: 32px;

}

.skills-description {
    width: 520px;
    height: 551px;

    h3 {
        font-family: Karla;
        font-size: 24px;
        color: rgba(61, 207, 182, 1);
    }

    div {
        display: flex;
        flex-direction: column;
        border: 1px solid #3DCFB6;
        backdrop-filter: blur(4px);
        background: #3DCFB61A;
        border-radius: 24px;
        justify-content: center;
        width: 568;
        height: 540;
        border-radius: 30px;
        gap: 40px;
        border-width: 1px;
        padding: 32px;

        h1 {
            font-family: Fira Code;
            font-size: 64px;
            color: rgba(61, 207, 182, 1);
        }

        h3 {
            font-family: Fira Code;
            font-size: 24px;
            color: white;

            span {
                font-family: Fira Code;
                font-size: 24px;
                color: rgba(61, 207, 182, 1);
            }
        }

        span {
            font-family: Karla;
            font-size: 18px;
            color: white;
        }

        button {
            border-color: white;
            color: white;
            --mdc-outlined-button-container-shape: 24px;
            width: 122px;
            height: 48px;
        }
    }
}

.skills-box {
    width: 632px;
    height: 428px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    gap: 24px;
    justify-items: center;
    align-items: start;
    padding: 32px 0;

    div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100px;

        img {
            width: 64px;
            height: 64px;
        }

        span {
            font-family: Fira Code;
            font-size: 18px;
            color: white;
            width: 100px;
            text-align: center;
        }
    }

}