.start-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 400px;
}

.title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 256px;

    h3 {
        font-family: Fira Code, sans-serif;
        font-size: 32px;
    }

    h1 {
        font-family: Karla, sans-serif;
        font-size: 64px;
        font-weight: bold;
        margin-top: 8px;
    }
}

.buttons {
    display: flex;
    justify-content: space-between;
    width: 400px;
    margin-top: 32px;

    button {
        border-color: white;
        color: white;
        --mdc-outlined-button-container-shape: 24px;
        overflow: hidden;
        position: relative;
        width: 156px;
        height: 48px;
        white-space: nowrap;

        &:hover {
            border-color: rgba(61, 207, 182, 1);
        }
    }
}


.marquee-wrapper {
    --gap: 1rem;
    display: flex;
    justify-content: center;
    flex-shrink: 0;
    width: fit-content;
    min-width: 100%;


    &:hover .marquee-text {
        animation: marquee-loop 4s linear infinite;
        color: rgba(61, 207, 182, 1);
    }

}

.marquee-text {
    display: flex;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
    flex-shrink: 0;
    font-family: 'Fira-Code', sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: white;
    text-decoration: none;
}

.marquee-text-short {
    padding: 0 120px 0 120px; // Abstand zwischen den Loops
}   

.marquee-text-long {
    padding: 0 75px 0 75px; // Abstand zwischen den Loops
}

.marquee-label {
    display: flex;
    justify-content: center;
    white-space: nowrap;
    flex-shrink: 0;
    margin-left: 256px;

    &:hover {
        display: none;
    }
}

@keyframes marquee-loop {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-100%);

    }
}

@media only screen and (max-width: 700px) {

    .title {
        display: flex;
        justify-content: center;
        margin-top: 128px;

        h1 {
            font-size: 40px;
        }

        h3 {
            font-size: 24px;
        }
    }
}

@media only screen and (max-width: 414px) {
    .start-center {
        height: 300px;

        .title {
            display: flex;
            justify-content: center;
            margin-top: 0;

            h1 {
                font-size: 32px;
            }

            h3 {
                font-size: 20px;
            }
        }
    }

    .buttons {
        width: 325px;
    }
}