<div class="bottom">
    <div class="left">
        <button (click)="services.scrollTo('about-me')" mat-stroked-button><img class="bounce-img" src="assets/img/arrows-down.png" alt="bounce icon"></button>
        <div class="left-line"></div>
    </div>
    <div class="right">
        <a href="#" (click)="services.scrollTo('contact')">
            <span class="email set-pointer">martin&#64;reifschneider.me</span>
            <img class="mobile-only set-pointer" src="assets/img/mail.png" alt="email icon">
        </a>
        <a href="#" (click)="services.openGitHub()"><img class="set-pointer" src="assets/img/github.png" alt="github icon"></a>
        <a href="#" (click)="services.openLinkedin()"><img class="set-pointer" src="assets/img/linkedin.png" alt="linkedin icon"></a>
        <div class="right-line-container"><div class="right-line"></div></div>
    </div>
</div>
<app-marquee class="marquee"></app-marquee>

