<div class="set-pointer has-tooltip"><img src="assets/img/growth.png" alt="">
    <span>Growth mindset</span>
    <div class="tooltip-container">
        <div class="tooltip-box">
            <span>I have special interest in learning</span>
            <div class="tooltip-icons">
                <div><img src="assets/img/react.png" alt="React" /><span>React</span></div>
                <div><img src="assets/img/vue.png" alt="Vue.js" /><span>Vue Js</span></div>
            </div>
        </div>
    </div>
</div>