 div {
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     width: 100px;
     position: relative;

     img {
         width: 64px;
         height: 64px;
         transition: filter 0.3s ease;
     }

     span {
         font-family: Fira Code;
         font-size: 18px;
         color: white;
         width: 100px;
         text-align: center;
         transition: color 0.3s ease;
     }

     &.has-tooltip .tooltip-container {
         position: absolute;
         bottom: 80px;
         left: 70%;
         transform: translateX(-50%);
         background: #d7e2e0;
         color: white;
         padding: 8px 12px;
         border-radius: 8px;
         font-size: 14px;
         opacity: 0;
         visibility: hidden;
         transition: opacity 0.3s, visibility 0.3s;
         z-index: 10;
         width: 200px;
         height: 100px;

         &::after {
             content: '';
             position: absolute;
             bottom: -6px;
             left: 41%;
             transform: translateX(-50%);
             width: 0;
             height: 0;
             border-left: 6px solid transparent;
             border-right: 6px solid transparent;
             border-top: 6px solid #d7e2e0;
         }
     }

     .tooltip-box {
         display: flex;
         flex-direction: column;

         span {
             color: rgba(61, 207, 182, 1);
             font-family: Fira Code;
             font-size: 16px;
             text-align: center;
             white-space: normal;
             width: 200px;
             height: auto;
             max-width: 200px;
         }

         .tooltip-icons {
             display: flex;
             flex-direction: row;
             justify-content: center;
             gap: 8px;
             margin-top: 16px;
             width: 200px;
             height: auto;

             img {
                 width: 32px;
                 height: 32px;
                 filter: none !important;
                 transition: none;

                 &:hover {
                     filter: none !important;
                 }
             }
         }
     }

     &.has-tooltip:hover .tooltip-container {
         opacity: 1;
         visibility: visible;
     }

     &:hover {
         img {
             filter: invert(66%) sepia(72%) saturate(464%) hue-rotate(124deg) brightness(94%) contrast(92%);
             scale: 1.1;
         }

         span {
             color: rgba(61, 207, 182, 1);
         }
     }
 }