.portfolio {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 100vw;
    height: 581px;
    top: 2591px;
    background-color: rgb(28, 28, 28);
    padding-left: 64px;

    div {
        width: 880px;
        height: 565px;
    }


    h1 {
        font-family: Fira Code;
        font-weight: 700;
        font-size: 64px;
        line-height: 100%;
        letter-spacing: -3%;
        color: rgba(61, 207, 182, 1);
        padding-top: 16px;

    }

    h3 {
        font-family: Karla;
        font-size: 24px;
        color: rgba(61, 207, 182, 1);
        padding-top: 16px;

    }

    span {
        display: block;
        font-family: Karla;
        font-size: 18px;
        color: white;
        width: 500px;
        padding-top: 16px;
    }

    .projects {
        margin-top: 16px;
    }

    section {
        display: flex;
        justify-content: space-between;
        width: 680px;
        height: 64px;
        border-bottom: 1px solid rgba(61, 207, 182, 1);


        &:hover {
            background-color: #3ecfb6;
        }

        &:first-child {
            border-top: 1px solid rgba(61, 207, 182, 1);
        }
    }

    .preview {
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        margin-left: -150px;

        img {
            width: 400px;
            height: 250px;
            border-radius: 30px;
        }
    }
}



.preview-wrapper {
    position: absolute;
    right: 0;
    display: inline-block;
    z-index: 0;
    border-radius: 20px;
    overflow: hidden;
    pointer-events: none;
}

/* diagonale Linien als "Schatten"-Effekt */
.preview-wrapper::before {
    content: "";
    position: absolute;
    top: 200px;
    left: 300px;
    width: 400px;
    height: 250px;
    background-image: repeating-linear-gradient(-45deg,
            transparent,
            transparent 10px,
            #3dcfb6 10px,
            #3dcfb6 12px);
    z-index: -1;
    border-radius: 20px;
}