<div  id="about-me" class="about">
    <div class="profile-image"><img src="assets/img/me3.jpg" alt=""></div>
    <div class="about-me">
        <h3>Who I am?</h3>
        <div class="about-me-box">
            <h1>About Me</h1>
            <span>Hey there, I'm Martin! Write some information about yourself that is IT related. Why are you passionate about coding? What is your source of inspiration for improving your programming skills?</span>
            <div><img src="assets/img/location.png" alt=""><span>Where are you based? Would you be open to working remotely or potentially relocating?</span></div>
            <div><img src="assets/img/about-me.png" alt=""><span>Show that you are open-minded. Are you enthusiastic about learning new technologies and continually improving your skills?</span></div>
            <div><img src="assets/img/checked.png" alt=""><span>Do you learn from each challenge as you search for the most efficient or elegant solution? You can include some keywords like: analytical thinking, creativity, persistence and  collaboration.</span></div>
        </div>
    </div>
</div>