<div  id="about-me" class="about">
    <div class="profile-image"><img src="assets/img/me3.jpg" alt=""></div>
    <div class="about-me">
        <div class="about-me-container">
            <h3 *ngIf="isNotMobile">
                {{services.language == "en" ? 'Who I am?' : 'Wer bin ich?'}} 
            </h3>
            <div class="about-me-box">
                <h1 >
                    {{services.language == "en" ? 'About Me' : 'Über mich'}} 
                </h1>
                <span>
                    {{services.language == "en" ? 
                    "Hey there, I'm Martin! Programming excites me because it combines creative thinking with logical structure. Since my school days, I have been fascinated by the possibility of bringing ideas to life with my own code." : 
                    "Hallo, ich bin Martin! Programmieren begeistert mich, weil es kreatives Denken mit logischer Struktur vereint. Seit meiner Schulzeit fasziniert mich die Möglichkeit, mit eigenem Code Ideen zum Leben zu erwecken."}} 
                </span>
                 <div><img src="assets/img/about-me.png" alt="">
                    <span>
                        {{services.language == "en" ? 
                        "What sets me apart is my great stamina, my strong concentration and my motivation to constantly learn new things and develop myself further." :
                        "Was mich dabei besonders auszeichnet, ist mein hohes Durchhaltevermögen, meine starke Konzentration und meine Motivation, stetig Neues zu lernen und mich weiterzuentwickeln." }}
                    </span>
                </div>
                <div><img src="assets/img/location.png" alt="">
                    <span>
                        {{services.language == "en" ? 
                        "I live in Altenstadt, which is near Frankfurt am Main, and I am also available for remote work." :
                        "Wohnhaft in Altenstadt, das liegt in der Nähe von Frankfurt am Main, stehe ich auch für Remote Arbeit bereit." }}
                    </span>
                </div>
                <div><img src="assets/img/checked.png" alt="">
                    <span> 
                         {{services.language == "en" ? 
                         "For me, the greatest learning potential lies in challenges. When I am faced with a complex problem, it motivates me to find not just any solution, but the most efficient and elegant one." :
                         "Gerade in Herausforderungen liegt für mich das größte Lernpotenzial. Wenn ich vor einem komplexen Problem stehe, motiviert mich das besonders, nicht nur irgendeine Lösung zu finden, sondern die effizienteste und zugleich eleganteste." }}
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>