.about {
    background-color: rgb(28, 28, 28);
    display: flex;
    height: 900px;
    width: 100vw;
    align-items: center;
    justify-content: center;
    gap: 64px;

    .profile-image {
        display: flex;
        justify-content: center;
        width: 700px;
        padding-left: 64px;
        margin-top: -128px;

        
        img {
            height: 500px;
            width: auto;
            border-radius: 30px;
        }
    }
    

    h3 {
        font-family: Karla;
        color: #3DCFB6;
    }
}

.about-me {
    margin-top: 128px;
    padding-right: 64px;

}

.about-me-box {
    display: flex;
    flex-direction: column;
    border: 1px solid #3DCFB6;
    backdrop-filter: blur(4px);
    background: #3DCFB61A;
    border-radius: 24px;
    justify-content: center;
    width: 568;
    height: 540;
    border-radius: 30px;
    gap: 40px;
    border-width: 1px;
    padding: 32px;



    h1 {
        font-family: Fira Code;
        color: #3DCFB6;
    }

    span {
        font-family: Karla;
        color: white;
    }

    div {
        display: flex;
        justify-content: space-between;
        gap: 32px;
    }

    img {
        height: 32px;
        width: 32px;
    }
}


.profile-wrapper {
    position: relative;
    right: 0;
    display: inline-block;
    z-index: 0;
    border-radius: 20px;
    overflow: hidden;
    pointer-events: none;
}

/* diagonale Linien als "Schatten"-Effekt */
.profile-wrapper::before {
    content: "";
    position: relative;
    top: 200px;
    left: 300px;
    width: 400px;
    height: 250px;
    background-image: repeating-linear-gradient(-45deg,
            transparent,
            transparent 10px,
            #3dcfb6 10px,
            #3dcfb6 12px);
    z-index: -1;
    border-radius: 20px;
}