section {
    position: fixed;
    left: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 10;
}

.card {
    margin: 0;
    color: #fff;
    font-family: 'Fira-Code', sans-serif;
    font-weight: 400;
    font-size: 20px;
    background: linear-gradient(55.22deg, #1C1C1C 36.26%, #08463B 93.28%);
    z-index: 999;
    opacity: 1;
    width: 85%;
    height: 650px;
    border-radius: 30px;
    border: 1px solid #3DCFB6;
    backdrop-filter: blur(4px);
}

.card-content {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 128px 1fr 64px;

    .top {
        display: flex;
        justify-content: flex-end;

        .close-btn {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 128px;

            img {
                width: 18px;
                height: 18px;
            }
        }
    }

    .center {
        display: grid;
        grid-template: "title card_image"
            "desc card_image"
            "desc card_image"
            "types card_image";

        .title {
            margin-left: 64px;
            width: 400px;
            grid-area: title;
            height: 64px;
        }


        .description {
            margin-left: 64px;
            width: 400px;
            grid-area: desc;
        }

        .card-img {
            grid-area: card_image;

            img {
                width: 520px;
                height: 300px;
                border-radius: 30px;
                margin-right: 64px;
            }
        }

        .types {
            margin-top: 32px;
            display: flex;
            grid-area: types;
            margin-left: 64px;

            div {
                display: flex;


                img {
                    width: 24px;
                    height: 24px;
                }

                span {
                    font-family: Karla;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 120%;
                    letter-spacing: 0%;

                    padding-right: 16px;
                    margin-left: 8px;
                }
            }


        }
    }
}

.bottom {
    display: flex;
    justify-content: space-between;

    .buttons {
        display: flex;
        width: 300px;
        margin-top: 32px;
        margin-left: 64px;
        gap: 16px;

        button {
            border-color: white;
            color: white;
            --mdc-outlined-button-container-shape: 24px;
            width: 150px;
            height: 50px;
        }
    }

    .next {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 64px;
        margin-right: 64px;

        div {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        &:hover {
            cursor: pointer;
        }

    }
}

@media only screen and (max-width: 1450px) {
    section {
        background: linear-gradient(55.22deg, #1C1C1C 36.26%, #08463B 93.28%) !important;
        height: 100vh;

    }

    .card {
        background: linear-gradient(55.22deg, #1C1C1C 36.26%, #08463B 93.28%);
        z-index: 999;
        opacity: 1;
        width: 100%;
        height: 100% !important;
        overflow-y: scroll;

        border-radius: 0px;
        border: 0px solid #3DCFB6;

        backdrop-filter: blur(4px);

        .card-content {
            display: grid;
            grid-template-areas: "top"
                "center"
                "bottom";
            grid-template-columns: 1fr;
            grid-template-rows: 128px 400px 128px;

        }
    }

    .center {
        display: grid;
        /*grid-template: "title"
            "card_image"
            "card_image"
            "desc"
            "types" !important;*/

        grid-template: "title card_image"
            "desc card_image"
            "desc card_image"
            "types card_image" !important;
        grid-area: center;
        grid-template-rows: 128px 64px 64px 64px !important;

        .title {
            height: 64px !important;
        }


        .card-img {
            margin-left: 64px;
        }

    }

    .bottom {
        grid-area: bottom;


    }
}

@media only screen and (max-width: 1100px) {
    .card {
        grid-template-rows: 128px 700px 128px;

        .card-content {
            grid-template-rows: 128px 700px 228px;

        }

        .top {
            grid-area: top;
            display: flex;
            position: absolute;
            right: 24px;
            top: 54px;
            justify-content: flex-end;
            width: 64px;


        }

        .center {
            display: grid;
            grid-template: "title"
                "card_image"
                "card_image"
                "desc"
                "types" !important;
            grid-template-rows: 128px 150px 200px 128px 64px !important;
        }
    }

}

@media only screen and (max-width: 660px) {
    .card {
        .center {
            grid-template-rows: 128px 150px 150px 128px 64px !important;

            .card-img {
                img {
                    width: 400px;
                    height: 250px;
                }
            }
        }
    }

    .bottom {
        display: flex;
        flex-direction: column;

        .next {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            justify-content: center;
            position: absolute;
            top: 895px;
            right: 0px;
        }
    }
}