section {
    position: fixed;
    left: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 10;
}

.card {
    margin: 0;
    color: #fff;
    font-family: 'Fira-Code', sans-serif;
    font-weight: 400;
    font-size: 20px;
    background: linear-gradient(55.22deg, #1C1C1C 36.26%, #08463B 93.28%);
    z-index: 999;
    opacity: 1;
    width: 85%;
    max-width: 1500px;
    height: 650px;
    border-radius: 30px;
    border: 1px solid #3DCFB6;
    backdrop-filter: blur(4px);
}

.card-content {
    display: flex;
    position: relative;
    flex-direction: column;
    height: 650px;

    .top {
        display: flex;
        justify-content: flex-end;

        .close-btn {
            position: absolute;
            right: 32px;
            top: 32px;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 18px;

            img {
                width: 18px;
                height: 18px;
                transition: 0.2s;

                &:hover {
                    transform: scale(1.5);
                    filter: invert(46%) sepia(42%) saturate(464%) hue-rotate(124deg) brightness(98%) contrast(92%);

                }
            }
        }
    }

    .center {
        display: grid;
        grid-template: "title card_image"
            "title card_image"
            "desc card_image"
            "desc card_image"
            "types types"
            "buttons-container buttons-container";
        grid-template-rows: 128px 64px 64px 64px 64px 64px !important;
        height: 100vh;
        margin-top: 64px;
        overflow: hidden;
        gap: 16px;

        .title {
            margin-left: 64px;
            grid-area: title;

            h1 {
                font-family: Karla;
                font-weight: 700;
                font-size: 128px;
                line-height: 100px;
                letter-spacing: -2%;
                color: rgba(61, 207, 182, 1);


            }

            h2 {
                font-family: Fira Code;
                font-weight: 700;
                font-size: 48px;
                line-height: 80%;
                letter-spacing: -3%;

            }
        }


        .description {
            width: 500px;
            grid-area: desc;

            div {
                margin-left: 64px;

                h3 {
                    font-family: Fira Code;
                    font-weight: 700;
                    font-size: 24px;
                    line-height: 120%;
                    letter-spacing: 0%;
                    color: rgba(61, 207, 182, 1);

                }

                span {
                    font-family: Karla;
                    font-weight: 400;
                    font-size: 18px;
                    line-height: 120%;
                    letter-spacing: 0%;

                }
            }
        }

        .card-img {
            grid-area: card_image;

            img {
                /*width: 520px;
                height: 300px;*/
                border-radius: 30px;

                width: 100%;
                width: 520px;
                aspect-ratio: 342 / 216;
                /* oder 57 / 36 oder 1.583 */
                height: auto;
            }
        }

        .types {
            margin-top: 32px;
            display: flex;
            grid-area: types;

            .type-container {
                margin-left: 64px;
                flex-wrap: wrap;
                width: 100%;
            }

            div {
                display: flex;


                img {
                    width: 24px;
                    height: 24px;
                    filter: invert(46%) sepia(42%) saturate(464%) hue-rotate(124deg) brightness(98%) contrast(92%);
                }

                span {
                    font-family: Karla;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 120%;
                    letter-spacing: 0%;

                    padding-right: 16px;
                    margin-left: 8px;
                }
            }


        }
    }

    .buttons-container {
        display: flex;
        justify-content: space-between;

        .buttons {
            display: flex;
            width: 300px;
            align-items: center;
            margin-left: 64px;
            gap: 16px;

            button {
                display: flex;
                justify-content: center;
                align-items: center;
                border-color: white;
                --mdc-outlined-button-container-shape: 24px;
                width: 150px;
                height: 50px;
                transition: 0.2s;


                div {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    color: rgba(61, 207, 182, 1);

                    span {
                        margin-left: 8px;
                        color: white;
                    }

                    img {
                        width: 24px;
                        height: 24px;
                        filter: invert(56%) sepia(82%) saturate(264%) hue-rotate(124deg) brightness(198%) contrast(92%);
                        rotate: -45deg;
                        transition: 0.2s;
                    }
                }

                &:hover {
                    border-color: rgba(61, 207, 182, 1);
                    color: white;

                    div span {
                        color: rgba(61, 207, 182, 1);
                    }

                    div img {
                        transform: translateX(5px);
                    }
                }
            }
        }
    }


    .bottom {
        position: relative;

        .next {
            position: absolute;
            bottom: 32px;
            right: 32px;
            display: flex;
            justify-content: center;
            align-items: center;

            div {
                display: flex;
                justify-content: center;
                align-items: center;
                color: rgba(61, 207, 182, 1);


                img {
                    filter: invert(56%) sepia(82%) saturate(264%) hue-rotate(124deg) brightness(198%) contrast(92%);
                    transition: 0.2s;
                }

                span {
                    transition: 0.2s;
                }

                &:hover img {
                    transform: translateX(5px);
                }

                &:hover span {
                    color: #fff
                }
            }
        }
    }
}



@media only screen and (max-width: 1450px) {
    section {
        background: #1C1C1C !important;
        height: 100vh;
        width: 100%;
        z-index: 60;
    }

    .card {
        z-index: 999;
        opacity: 1;
        width: 100%;
        max-width: 100%;

        overflow-y: hidden;
        overflow-x: hidden;
        margin: 8px;
        height: calc(100% - 8px);
        backdrop-filter: blur(4px);
    

        .card-content {
            /*height: calc(100% - 64px);*/
            overflow-y: hidden;
            height: 100vh;

        }
    }

    .center {
        display: grid;
        grid-area: center;
        height: 100%;
        overflow-y: scroll;
        margin-top: 0;


        .title {
            height: 64px !important;
        }

        .description {
            width: 200px;
        }

        .card-img {
            margin-left: 64px;
        }

    }

    .center-bottom {
        grid-area: bottom;


    }

    .bottom {
        .next {
            bottom: 24px !important;
        }
    }
}



@media only screen and (max-width: 1230px) {
    .card {

        .card-content {
            display: grid;
            grid-template-areas: "top" "center" "bottom";
            grid-template-rows: 10% 80% 10%;

            .top {
                grid-area: top;

            }

            .center {
                grid-area: center;
                display: grid;
                grid-template:
                    "title card_image"
                    "title card_image"
                    "desc desc"
                    "types types"
                    "buttons buttons" !important;
                grid-template-rows: 150px 166px 100px 40px 80px !important;
                grid-template-columns: 60% 40%;
                margin-top: 0 !important;

                .title {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex-direction: column;
                    grid-area: title;
                    width: 256px;
                    height: 100% !important;
                    text-align: center;
                }

                .description {
                    width: calc(100% - 200px);
                    grid-area: desc;
                }

                .types {
                    margin-top: 0;
                    grid-area: types;
                }

                .buttons-container {
                    grid-area: buttons;
                }
            }

            .bottom {
                grid-area: bottom;
            }
        }
    }
}

@media only screen and (max-width: 1054px) {
    .card {
        .card-content {
            .center {
                grid-area: center;
                display: grid;
                /*grid-template:
                    "card_image"
                    "card_image"
                    "title"
                    "desc"
                    "types"
                    "buttons" !important;*/

                grid-template-rows: 15% 15% 15% 7% 10% !important;

                .title {}

                .description {
                    width: calc(100% - 64px);
                }

                .types {
                    width: calc(100% - 64px);
                }

                .card-img {
                    margin: 0 64px 0 64px;

                    img {
                        width: 350px;
                        height: auto;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 827px) {
    .card {
        .card-content {
            .center {
                grid-area: center;
                display: grid;
                grid-template:
                    "card_image"
                    "card_image"
                    "title"
                    "desc"
                    "types"
                    "buttons" !important;
                grid-template-rows: 15% 15% 8% 20% 5% 10% !important;

                .title {
                    flex-direction: row;
                    justify-content: flex-start;
                    gap: 8px;
                    width: calc(100% - 64px);

                    h1 {
                        font-family: Karla;
                        font-weight: 700;
                        font-size: 58px;
                        line-height: 100%;
                        letter-spacing: -2%;

                    }

                    h2 {
                        font-family: Fira Code;
                        font-weight: 700;
                        font-size: 40px;
                        line-height: 80%;
                        letter-spacing: -3%;

                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 495px) {
    .card {
        .card-content {
            .title {
                display: flex;
                justify-content: center;
            }

            .description {
                display: flex;
                justify-content: center;
            }

            .types {
                display: flex;
                justify-content: center;
            }

            .card-img {
                display: flex;
                justify-content: center;
                width: 100%;
                margin: 0 !important;
            }

            .buttons-container {
                display: flex;
                justify-content: center;

                .buttons {
                    display: flex;
                    justify-content: center;
                    margin: 0;
                }
            }
        }
    }
}

@media only screen and (max-width: 430px) {
    .card {
        .card-content {
            .center {
                grid-template-rows: 12% 12% 8% 18% 8% 10% !important;

                .title {
                    width: calc(100% - 16px);
                    margin-left: 16px;

                    h1 {
                        font-size: 40px;
                    }

                    h2 {
                        font-size: 32px;
                    }
                }

                .description {
                    width: calc(100% - 16px);
                    margin-left: 16px;

                    div {
                        margin-left: 0;

                        h3 {
                            font-size: 18px;
                        }

                        span {
                            font-size: 16px;
                        }
                    }
                }

                .types {
                    width: calc(100% - 16px);
                    margin-left: 16px;

                    .type-container {
                        margin-left: 0;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 375px) {
    .card {
        .card-content {
            .center {
                .card-img {
                    img {
                        width: 325px;
                    }
                }
            }
        }
    }
}

@media only screen and (min-height: 1024px) and (max-width: 1300px) {
    .card {
        .card-content {
            .center {
                grid-template-rows: 10% 10% 10% 10% 5% 10% !important;

            }
        }
    }
}

@media only screen and (max-width: 720px) and (max-height: 540px) {
    .card {
        .card-content {
            .center {
                .card-img {
                    img {
                        width: 250px;
                        height: auto;
                    }
                }
            }
        }
    }
}
