.description {
    width: 550px;
    grid-area: desc;

    div {
        margin-left: 64px;

        h3 {
            font-family: Fira Code;
            font-weight: 700;
            font-size: 24px;
            line-height: 120%;
            letter-spacing: 0%;
            color: rgba(61, 207, 182, 1);
        }

        span {
            font-family: Karla;
            font-weight: 400;
            font-size: 18px;
            line-height: 120%;
            letter-spacing: 0%;
        }
    }
}

@media only screen and (max-width: 1450px) {
    .description {
        width: calc(100% - 200px);
        grid-area: desc;
    }
}

@media only screen and (max-width: 1054px) {
    .description {
        width: calc(100% - 64px);
    }
}

@media only screen and (max-width: 495px) {
    .description {
        display: flex;
        justify-content: center;
    }
}

@media only screen and (max-width: 430px) {
    .description {
        width: calc(100% - 32px);
        margin-left: 16px;

        div {
            margin-left: 0;

            h3 {
                font-size: 18px;
            }

            span {
                font-size: 16px;
            }
        }
    }
}