section {
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100wv;
    height: 100vh;
    background-color: black;
    overflow-y: hidden;
}

.card {
    margin: 0;
    color: #fff;
    font-family: 'Fira-Code', sans-serif;
    font-weight: 400;
    font-size: 20px;
    background: linear-gradient(55.22deg, #1C1C1C 36.26%, #08463B 93.28%);
    z-index: 999;
    opacity: 1;
    width: 100wv;
    height: 100vh;
    overflow-y: hidden;
    /*border-radius: 30px;
    border: 1px solid #3DCFB6;
    backdrop-filter: blur(4px);*/
}

.card-content {
    display: flex;
    flex-direction: row;
    /*margin-top: 64px;*/
    height: 100vh;


    .top {
        display: flex;
        position: absolute;
        right: 16px;
        top: 16px;
        justify-content: flex-end;
        width: 64px;

        img {
            width: 18px;
            height: 18px;
            /*padding-right: 64px;*/
        }
    }

    .center {
        display: flex;
        flex-direction: column;
        overflow-y: scroll;
        margin-bottom: 0px;
        margin-top: 48px;
        margin: 48px 0 0 16px;
        /*height: 75vh;*/
    }

    :first-child {
        padding: 0;
    }

    :last-child {
        padding: 0;
    }

}

.mat-mdc-card-content {
    padding: 0;
}

.mat-mdc-card-content:last-child {
    padding-bottom: 0px;
}

.mat-mdc-card-content:first-child {
    padding-top: 0px;
}