<section>
    <mat-card class="card" appearance="outlined">

        <mat-card-content class="card-content">
            
            <div class="center">
                <app-imprint></app-imprint>
            <!--</div>
            <div class="bottom">-->
                <app-data-protection></app-data-protection>
            </div>
            <div class="top">
                <img class="set-pointer" src="assets/img/close_small.png" alt="" (click)="closeCard()">
            </div>
        </mat-card-content>
    </mat-card>
</section>