<section>
    <mat-card class="card" appearance="outlined">

        <mat-card-content class="card-content">
             <div class="top">
                <img class="set-pointer" src="assets/img/close_small.png" alt="" (click)="closeCard()">
            </div>
            <div class="center">
                <app-data-protection *ngIf="services.language"></app-data-protection>
                <app-datenschutz *ngIf="services.language"></app-datenschutz>
            </div>
        </mat-card-content>
    </mat-card>
</section>