<header class="header">
    <section class="header-container">
        <div class="navbar">
            <app-language-toggle [value]="selectedLang" (langChange)="onLangChange($event)">
            </app-language-toggle>

            <a href="#" class="set-pointer" (click)="services.scrollTo('about-me')">
                <span>{{services.language == "en" ? 'About Me' : 'Über mich'}}</span>
                <svg width="8" height="8" viewBox="0 0 8 8">
                    <circle cx="4" cy="4" r="3" fill="currentColor" />
                </svg>
            </a>
            <a href="#" class="set-pointer" (click)="services.scrollTo('skills')">
                <span>{{services.language == "en" ? 'Skills' : 'Fähigkeiten'}}</span>
                <svg width="8" height="8" viewBox="0 0 8 8">
                    <circle cx="4" cy="4" r="3" fill="currentColor" />
                </svg>
            </a>
            <a href="#" class="set-pointer" (click)="services.scrollTo('portfolio')">
                <span>{{services.language == "en" ? 'Projects' : 'Projekte'}}</span>
                <svg width="8" height="8" viewBox="0 0 8 8">
                    <circle cx="4" cy="4" r="3" fill="currentColor" />
                </svg>
            </a>
            <div></div>
        </div>
        <div class="logo">
            <a href="#" (click)="reloadPage()"><img class="set-pointer" src="assets/img/logo.png" alt=""></a>
            <a (click)="reloadPage()" class="logo-name set-pointer">
                <span>artin</span>
                <span>eifschneider</span>
            </a>
        </div>
    </section>
</header>