<nav>
    <div class="navbar">
        <app-language-toggle [value]="selectedLang" (langChange)="onLangChange($event)">
        </app-language-toggle>

        <div class="set-pointer" (click)="services.scrollTo('about-me')">
            <span>{{services.language == "en" ? 'About Me' : 'Über mich'}}</span>
            <svg width="8" height="8" viewBox="0 0 8 8">
                <circle cx="4" cy="4" r="3" fill="currentColor" />
            </svg>
        </div>
        <div class="set-pointer" (click)="services.scrollTo('skills')">
            <span>{{services.language == "en" ? 'Skills' : 'Fähigkeiten'}}</span>
            <svg width="8" height="8" viewBox="0 0 8 8">
                <circle cx="4" cy="4" r="3" fill="currentColor" />
            </svg>
        </div>
        <div class="set-pointer" (click)="services.scrollTo('portfolio')">
            <span>{{services.language == "en" ? 'Projects' : 'Projekte'}}</span>
            <svg width="8" height="8" viewBox="0 0 8 8">
                <circle cx="4" cy="4" r="3" fill="currentColor" />
            </svg>
        </div>
        <div></div>
    </div>
    <div class="logo">
        <img class="set-pointer" (click)="reloadPage()" src="assets/img/logo.png" alt="">
        <div (click)="reloadPage()" class="logo-name">
            <span class="set-pointer">artin</span>
            <span class="set-pointer">eifschneider</span>
        </div>
    </div>
</nav>