a:first-child section {
    border-top: 1px solid rgba(61, 207, 182, 1);

}

a {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 680px;
    height: auto;
    border-bottom: 1px solid rgba(61, 207, 182, 1);
    text-decoration: none;


    div {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        height: auto;
        width: 900px;
        flex-wrap: wrap;
        gap: 8px;
        padding: 8px 0 8px 0;

        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(32px, max-content));
        gap: 8px;
        align-items: center;
        justify-content: flex-end;
        height: auto;
        width: 900px;
        padding: 8px 0 8px 0;
    }

    h3 {
        font-family: Fira Code;
        color: white;
        font-size: 24px;
        width: 400px;
        padding-top: 16px;
        padding-left: 16px;
    }

    span {
        font-family: Karla;
        color: white;
        width: fit-content;
        height: 18px;
        font-size: 16px;
        padding: 0 8px 0 0px;
        display: flex;
        justify-content: center;
        text-align: center;
        border-right: 1px solid rgba(61, 207, 182, 1);

        &:last-child {
            border-right: none; // ✅ letzter bekommt keinen Border
        }
    }

    &:hover {
        background: rgba(61, 207, 182, 0.56);

    }
}

.is-hovered {
    background-color: #3ecfb6;
}


@media only screen and (max-width: 1450px) {
    a {
        width: 100%;

        h3 {
            font-size: 20px;
        }

        span {
            font-size: 16px;
        }
    }
}

@media only screen and (max-width: 500px) {
    a {
        h3 {
            font-size: 16px;
            padding: 16px 0 0 8px;
        }

        div {
            // ✅ Bei kleinen Bildschirmen: Single-Column Grid
            grid-template-columns: 1fr;
            justify-content: flex-end;
            width: calc(100% - 300px);
            gap: 4px;
        }

        span {
            border-right: none !important;
            padding: 4px 16px;

            // Optional: Subtile Trennung
            &:not(:last-child) {
                border-bottom: 1px solid rgba(61, 207, 182, 0.2);
            }
        }
    }
}