<div class="center">
    <app-card-title class="title"></app-card-title>
    <app-card-description class="description"></app-card-description>
    <app-card-types class="types"></app-card-types>
    <app-card-project-img class="card-img"></app-card-project-img>
    <app-card-buttons class="card-buttons"></app-card-buttons>
    <!--<div class="buttons-container">
        <div class="buttons">
            <button mat-stroked-button (click)="openRepository()">
                <div> <span>GitHub</span><img class="next-arrow" src="assets/img/arrow_forward.png" alt=""></div>
            </button>
            <button mat-stroked-button (click)="openProject()">
                <div><span>Live Test</span><img class="next-arrow" src="assets/img/arrow_forward.png" alt=""></div>

            </button>
        </div>
    </div>-->
</div>